<div class="flex px-4 py-3 rounded-md bg-primary-100 dark:bg-primary-900">
    <span class="pe-3 text-primary-400">
        🔥
    </span>
    <span class="dark:text-neutral-300">
        <strong>Nothing on this site constitutes financial advice of any kind.</strong><br />
        All investments come with significant risks, including the loss of all capital.
        Please do your own research before investing, and never risk more than you are willing to lose.
        I hold no certifications or registrations with any financial entity.
    </span>
</div>