<div class="flex rounded-md bg-primary-100 px-4 py-3 dark:bg-primary-900">
    <span class="pe-3 text-primary-400">
        {{ partial "icon.html" "tag" }}
    </span>
    <span class="dark:text-neutral-300">
        <strong>Making a journal of my trades helped me become a better trader.</strong></br>
        I track all of my trades over on <a href="https://thetagang.com">Theta Gang</a>.
        You can find all of my trades, including winners and losers, in <a href="https://thetagang.com/major">my
            profile</a>.
        I use the site to track my profit and loss, but I also use it to hold myself accountable for my trades.
        This has helped me approach the market with a lot less emotion and a lot more discipline.
    </span>
</div>