name: Deploy to AWS S3/CloudFront

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

concurrency:
  group: "cloudfront"
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup Hugo
        run: |
          HUGO_VERSION=$(cat .hugo-version)
          curl -sL --retry 5 "https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_extended_${HUGO_VERSION}_linux-amd64.tar.gz" | tar xzf - hugo
          ./hugo version

      - name: Setup Go
        uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5
        with:
          go-version: "1.25"

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5
        with:
          role-to-assume: arn:aws:iam::911986281031:role/github-actions-thetanerd.com-blog
          role-duration-seconds: 900
          aws-region: us-east-1

      - name: Build with Hugo
        env:
          HUGO_ENVIRONMENT: production
          HUGO_ENV: production
        run: ./hugo --gc --minify

      - name: Download s3deploy
        run: |
          S3DEPLOY_VERSION=2.12.1
          curl -sL "https://github.com/bep/s3deploy/releases/download/v${S3DEPLOY_VERSION}/s3deploy_${S3DEPLOY_VERSION}_linux-amd64.tar.gz" | tar xzf - s3deploy
          chmod +x s3deploy

      - name: Deploy to S3 using s3deploy
        run: |
          ./s3deploy \
            --acl public-read \
            --region us-east-1 \
            --bucket thetanerd.com \
            --source public \
            --distribution-id E2Y0LGJDX445NP
